*{
    border: 0px;
    margin: 0px;
}
.container{
    background: black;
    border: 10px solid grey;
    width: 1150px;
    height: 575px;
    margin: 30px;
}
.navigation{
    background: rgb(163,164,166);
    width: 290px;
    height: 155px;
    border-radius: 10px;
    border: 5px solid rgb(128,128,128);
}
button{
    background: lightgray;
    width: 80px;
    height: 34px;
    border-radius: 5px;
}
h2{
    color: red;
    text-shadow: 3px 3px white;

}